A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #d78100; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003399; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #d78100; FONT-FAMILY: Tahoma, Arial; TEXT-DECORATION: none
}
.text11 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial
}
.formtext {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial
}
.titles {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #669933; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.TEXT9 {
	FONT-SIZE: 9px; FONT-FAMILY: Tahoma, Arial
}
.text10 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial
}
.borderright {
	BORDER-RIGHT: #999999 1px solid
}
.bordertop {
	BORDER-TOP: #999999 1px solid
}
.contactusform {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: Tahoma, "Arial Black", Verdana
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Tahoma, "Arial Black", Verdana; BACKGROUND-COLOR: #003399
}
