CREATE TABLE doc_salida_destino (
	codigo_documento char(10),
	secuencia_documento char(2),
	codigo_contacto char(6),
	codigo_institucion char(6),
	usumod char(10),
	fecmod datetime,
	peso decimal(16, 3),
	peso_courier decimal(16, 3),
	costo decimal(16, 3),
	igv decimal(16, 3),
	cancelado char(1),
	conciliado char(1),
	costo_courier decimal(16, 3),
	cod_ser char(2),
	secuencia char(3),
	tipo_envio char(2),
	cantidad char(3),
	serie1 char(2),
	numero1 char(7));
INSERT INTO doc_salida_destino VALUES (
	'208O000013',
	'01',
	'023260',
	'010017',
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL,
	NULL);
