CREATE TABLE doc_salida_origen (
	codigo_documento char(10),
	codigo_personal char(3),
	codigo_fondo char(2),
	codigo_oficina char(4),
	usumod char(10),
	fecmod datetime);
INSERT INTO doc_salida_origen VALUES (
	'208O000013',
	'003',
	'01',
	'0001',
	NULL,
	NULL);
