CREATE TABLE serie_documental (
	codigo_oficina char(4),
	codigo_fondo char(2),
	codigo_serie char(6),
	oficina char(4),
	descripcion_serie char(80),
	fondo char(2),
	serie char(6),
	orden char(6),
	valor char(1),
	ag_reten float,
	ac_reten float,
	nivel char(1),
	ap_reten float);
INSERT INTO serie_documental VALUES (
	'0001',
	'01',
	'000001',
	NULL,
	'Informes',
	NULL,
	NULL,
	'000000',
	'T',
	0,
	0,
	NULL,
	0);
INSERT INTO serie_documental VALUES (
	'0041',
	'01',
	'000001',
	NULL,
	'Documentos Reservados',
	NULL,
	NULL,
	'000000',
	'T',
	0,
	0,
	NULL,
	0);
INSERT INTO serie_documental VALUES (
	'0004',
	'01',
	'000001',
	NULL,
	'Juzgados',
	NULL,
	NULL,
	'000000',
	'P',
	0,
	0,
	NULL,
	0);
