CREATE TABLE tramite (
	codigo_fondo char(2),
	descripcion_fondo char(80),
	flag_actual char(1));
INSERT INTO tramite VALUES (
	'01',
	'Departamento de Sistemas',
	'S');
INSERT INTO tramite VALUES (
	'02',
	'Departamento de Informatica',
	'N');
INSERT INTO tramite VALUES (
	'03',
	'Departamento de Marketing',
	'N');
