<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>ResponseOverrideFilter</filter-name>
	<url-pattern>/ListaDocumentos.do</url-pattern>
	</filter-mapping>

	<!-- filter-mapping>
	<filter-name>ResponseOverrideFilter</filter-name>
	<url-pattern>/ListaDocumentosFirmados.do</url-pattern>
	</filter-mapping-->
	
	<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <!-- Agregado por SoftNet -->
	<servlet>
		<servlet-name>ServletUpload</servlet-name>
		<display-name>ServletUpload</display-name>
		<description></description>
		<servlet-class>tramitedoc.concytec.util.ServletUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletPdfDownload</servlet-name>
		<display-name>ServletPdfDownload</display-name>
		<description></description>
		<servlet-class>tramitedoc.concytec.util.ServletPdfDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AActionParametro</servlet-name>
		<display-name>AActionParametro</display-name>
		<description />
		<servlet-class>tramitedoc.concytec.action.AActionParametro</servlet-class>
	</servlet>
	
	
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletUpload</servlet-name>
  	<url-pattern>/ServletUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletPdfDownload</servlet-name>
  	<url-pattern>/ServletPdfDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>AActionParametro</servlet-name> 
	  <url-pattern>/AActionParametro</url-pattern> 
  </servlet-mapping>
  
  
  <!-- Fin por SoftNet -->
	
	 <session-config>
      <session-timeout>60</session-timeout> 
    </session-config>
	
	
  <welcome-file-list>
  	<welcome-file>inicio.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   
  
</web-app>

